@import "mixins";

$z-index: (
  header: 2,
  header-navigation-overlay: 3,
  header-dropdown-menu: 4,
  header-hamburger: 5,
  booking-form-selection: 6,
  booking-form-loader: 7,
);

$sizing: (
  header: (
    height: 48px,
  ),
  hero-input: (
    height: 48px,
  ),
  booking-form-popup-input: (
    height: 64px,
  ),
  custom-button: (
    height: 48px,
  ),
  booking-form-toggle-text-button: (
    height: 45px,
    width: 65px,
  ),
);

$colors: (
  primary: #245abc,
  primary-dark: shade(#245abc, 50%),
  background: white,
  faded: #f9f8f7,
  base-text: #1e1e1e,
  header-overlay-background: rgba(0, 0, 0, 0.6),
);

$font-families: (
  primary: (
    "Compass Sans",
    sans-serif,
  ),
  hero-title: (
    "Lobster",
    cursive,
  ),
  input: (
    "Lato",
    sans-serif,
  ),
  heading: (
    "Open Sans",
    sans-serif,
  ),
);

$font-sizes: (
  base: 16px,
  input: 14px,
);
