@import url("https://fonts.googleapis.com/css?family=Lato:400,bold|Open+Sans:300,400,600|Lobster");
@import "~bootstrap/scss/bootstrap";
@import "~owl.carousel/src/scss/owl.carousel";
@import "~owl.carousel/src/scss/owl.theme.default";

@import "mixins";
@import "variables";

* {
  &,
  &::before,
  &::after {
    @include prefix(box-sizing, border-box);
    outline: none !important;
  }
}

body {
  color: get-color(base-text);
  background-color: get-color(backgroun);
  overflow-x: hidden;
  font-family: get-font(primary);
  font-size: get-font-size(base);
  line-height: 1.4em;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  &.scroll-locked {
    overflow-y: hidden !important;
  }
}

a {
  &,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: get-color(primary);
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  &.light {
    font-weight: 300 !important;
  }
  font-family: get-font(heading);
  font-weight: 600;
}

.base-heading {
  font-family: get-font(primary);
  font-weight: 500;
}

.featured-title {
  font-family: get-font(featured);
}

@import "./components/utils/animatedAnchor";
