@import url("https://fonts.googleapis.com/css?family=Lato:400,bold|Open+Sans:300,600|Lobster");
@import "~bootstrap/scss/bootstrap";
@import "~owl.carousel/src/scss/owl.carousel";
@import "~owl.carousel/src/scss/owl.theme.default";

@import "mixins";
@import "variables";

* {
  &,
  &::before,
  &::after {
    @include prefix(box-sizing, border-box);
    outline: none !important;
  }
}

body {
  color: get-color(base-text);
  background-color: get-color(backgroun);
  overflow-x: hidden;
  font-family: get-font(primary);
  font-size: get-font-size(base);
  line-height: 1.4em;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  &,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: get-color(primary);
    text-decoration: none;
  }
}

.featured-title {
  font-family: get-font(featured);
}

@import "./components/animatedAnchor.scss";
