.links-wrapper {
	margin-top: 50px;
	.title {
		margin-bottom: 5px;
	}
	.description {
		margin-top: 0;
		color: #7a7a7a;
	}
	ul,
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul.links {
		width: calc(100% - 5px);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 20px auto 0;
		li {
			flex-basis: 100%;
			margin-bottom: 10px;
			@include breakpoint(md) {
				flex-basis: 50%;
			}
			@include breakpoint(lg) {
				flex-basis: 25%;
			}
			a {
				color: #0061df;
				font-size: 16px;
				font-family: map-get($fonts, input);
				font-weight: bold;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
