.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	overflow-y: auto;
	display: none;
	opacity: 0;
	max-height: 100vh;
	justify-content: center;
	transition: opacity 0.4s ease;
	&.visible {
		opacity: 1;
	}
	&.mask {
		&.black {
			background-color: rgba(0, 0, 0, 0.6);
		}
		&.white {
			background-color: rgba(255, 255, 255, 0.5);
		}
		&.blur {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				backdrop-filter: blur(3px);
				display: block;
				z-index: -1;
			}
		}
	}
	.modal {
		opacity: 0;
		height: auto;
		width: 100%;
		transform: translateY(0%);
		transition: all 0.2s ease;
		.header {
			background-color: map-get($colors, primary);
			height: 50vh;
			padding: 15px;
			.close-icon {
				background-color: rgba(0, 0, 0, 0.6);
				display: flex;
				height: 40px;
				width: 40px;
				justify-content: center;
				align-items: center;
				float: right;
				border-radius: 50%;
				transition: background-color 0.2s ease;
				&:active {
					background-color: black;
				}
				svg {
					stroke: white;
					stroke-width: 2px;
				}
			}
			.title {
				color: white;
				font-family: map-get($fonts, heading);
				font-weight: 300;
				margin-top: 35px;
			}
		}
		.content-wrapper {
			background-color: map-get($colors, faded);
			min-height: 50%;
			.pull-up {
				transform: translateY(-120px);
			}
			a {
				color: map-get($colors, primary);
				@extend .animated-link;
				&::before {
					background-color: map-get($colors, primary) !important;
				}
			}
			.animation-wrapper {
				background-color: map-get($colors, background);
				width: 95%;
				margin: 0 auto;
				min-height: 200px;
				padding: 20px 0 30px;
				border-radius: 4px;
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
				.content {
					transition: all 0.2s ease;
					& {
						&.pending {
							transform: translateX(50px);
							opacity: 0;
						}
						&.toggled {
							transform: translateX(-50px);
							opacity: 0;
						}
					}
					.email-address {
						color: #717171;
						font-size: 14px;
						text-align: center;
						display: block;
						width: 80%;
						margin: 15px auto 5px;
					}
					.edit-email-wrapper {
						text-align: center;
						margin-bottom: 25px;
					}
					.form {
						width: 90%;
						margin: 0 auto;
						.form-field {
							margin-bottom: 10px;
							&:last-of-type {
								margin: 0;
							}
							input {
								font-size: 14px;
								line-height: 48px;
								display: block;
								height: 48px;
								width: 100%;
								padding: 0 15px;
								border-radius: 4px;
								border: 1px solid #a0a0a0;
								transition: all 0.2s ease;
								&:focus {
									border-color: transparent;
									box-shadow: 0 0 0 2px map-get($colors, primary);
								}
							}
							&.password {
								position: relative;
								.icon {
									position: absolute;
									top: 50%;
									right: 15px;
									transform: translateY(-50%);
									.fa {
										font-size: 18px;
										&.hide {
											display: none;
										}
									}
								}
								&.visible {
									.icon .fa {
										&.show {
											display: none !important;
										}
										&.hide {
											display: block !important;
										}
									}
								}
							}
						}
					}
					button.custom-btn {
						width: 180px;
						margin: 30px auto 20px;
					}
					.help-text {
						color: #717171;
						display: block;
						text-align: center;
					}
					.social-login {
						margin: 15px 0 35px;
						display: flex;
						width: 90%;
						justify-content: space-between;
						margin: 30px auto 20px;
						.login {
							display: flex;
							flex-direction: column;
							align-items: center;
							&:hover {
								&.apple .icon {
									background-color: #000000;
									box-shadow: 0 0 0 2px white, 0 0 0 4px #000000;
								}
								&.twitter .icon {
									background-color: #03a9f4;
									box-shadow: 0 0 0 2px white, 0 0 0 4px #03a9f4;
								}
								&.facebook .icon {
									background-color: #3b5999;
									box-shadow: 0 0 0 2px white, 0 0 0 4px #3b5999;
								}
								&.google .icon {
									box-shadow: 0 0 0 4px white,
										0 0 0 6px map-get($colors, primary);
								}

								&:not(.google) .icon svg {
									&,
									g,
									path {
										fill: white;
									}
								}
							}
							&:active .icon {
								transform: scale(0.8);
							}
							.icon {
								display: flex;
								justify-content: center;
								align-items: center;
								height: 50px;
								width: 50px;
								margin-bottom: 5px;
								border-radius: 50%;
								box-shadow: 0 0 0 1px #ddddde;
								transition: all 0.2s ease;
								svg {
									transform: scale(0.9);
								}
							}
							.label {
								color: #717171;
								font-size: 12px;
							}
						}
					}
				}
			}
			.footer {
				color: #717171;
				text-align: center;
				font-size: 12px;
				padding: 0 15px;
				&.pull-up {
					transform: translateY(-60px);
				}
				.copyright {
					display: block;
					margin-top: 20px;
				}
			}
		}
	}
	@include breakpoint(md) {
		padding-top: 10vh;
		.modal {
			height: auto;
			width: 480px;
			margin: 5vh 0;
			border-radius: 4px;
			.header {
				height: 250px;
				border-radius: 4px 4px 0 0;
				.close-icon {
					&,
					&:active {
						background: transparent;
					}
				}
			}
			.content-wrapper {
				min-height: auto;
				border-radius: 0 0 4px 4px;
				.animation-wrapper {
					width: 85%;
					.content {
						padding-top: 20px;
						.form {
							width: 80%;
						}
						.social-login {
							width: 70%;
							.login {
								cursor: pointer;
							}
						}
					}
				}
				.footer {
					width: 95%;
					margin: 0 auto;
				}
			}
		}
	}
	@include breakpoint(lg) {
		align-items: center;
		.modal {
			width: 420px;
			.header {
				height: 280px;
				padding: 20px 7.5% 120px;
				.close-icon {
					cursor: pointer;
					transform: translate(10px, -5px);
				}
			}
		}
	}
}
