.overlay {
  overflow-y: auto;
  display: none;
  max-height: 100vh;
  justify-content: center;
  @include breakpoint(lg) {
    align-items: center;
    .modal {
      .header {
        height: 280px;
        padding: 20px 7.5% 120px;
        .close-icon {
          cursor: pointer;
          transform: translate(10px, -5px);
        }
      }
    }
  }
}
