header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 48px;
	display: flex;
	justify-content: space-between;
	padding: 0 5px 0 24px;
	align-items: stretch;
	z-index: 2;
	.logo-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			max-height: 30px;
		}
	}
	.hamburger {
		z-index: 3;
		width: 45px;
		transform: scale(0.7);
		.line {
			&,
			&::before,
			&::after {
				background-color: white;
				box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
			}
		}
		&.toggled .line {
			box-shadow: none;
			&::before,
			&::after {
				background-color: black;
				box-shadow: none;
			}
		}
		@include breakpoint() {
			display: none;
		}
	}
	.navigation-wrapper {
		position: fixed;
		background: rgba(0, 0, 0, 0.6);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s ease;
		nav {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: #f9f8f7;
			width: 90vw;
			transform: translateX(100%);
			transition: transform 0.4s ease-out;
			.header {
				height: 48px;
				border-bottom: 1px solid #dedede;
			}
			.navigation {
				.menu-item {
					a {
						position: relative;
						color: map-get($colors, primary_dark);
						font-size: 16px;
						font-weight: 500;
						display: block;
						padding: 12px 20px 12px 45px;
						& > svg {
							position: absolute;
							stroke: map-get($colors, primary_dark);
							top: 50%;
							left: 12px;
							margin-right: 5px;
							transform: translateY(-50%);
						}
						&:focus {
							background-color: white;
							color: map-get($colors, primary);
							box-shadow: 4px 0 4px -4px rgba(0, 0, 0, 0.8);
							& > svg {
								stroke: map-get($colors, primary);
							}
						}
					}
					&.has-children {
						& > a {
							&::after {
								content: '\f078';
								color: map-get($colors, primary_dark);
								font-family: FontAwesome;
								font-size: 14px;
								float: right;
								transition: transform 0.2s ease;
							}
							&:focus::after {
								color: map-get($colors, primary);
							}
						}
						.sub-menu {
							visibility: hidden;
							max-height: 0;
							opacity: 0;
							overflow: hidden;
							transition: max-height 0.4s ease, opacity 0.2s ease-in;
						}
						&.opened {
							& > a {
								background-color: white;
								color: map-get($colors, primary);
								box-shadow: 4px 0 4px -4px rgba(0, 0, 0, 0.8);
								& > svg {
									stroke: map-get($colors, primary);
								}
								&::after {
									color: map-get($colors, primary);
									transform: rotate(180deg);
								}
							}
							& > .sub-menu {
								visibility: visible;
								opacity: 1;
								.menu-item > a {
									padding-left: 70px;
									& > svg {
										left: 40px;
									}
								}
							}
						}
					}
				}
			}
		}
		&.opened {
			visibility: visible;
			opacity: 1;
			nav {
				transform: translateX(0%);
			}
		}
	}
	@include breakpoint() {
		padding: 0 24px;
		.logo-wrapper img {
			max-height: 40px;
		}
		.navigation-wrapper {
			position: static;
			background: transparent;
			visibility: visible;
			opacity: 1;
			transition: none;
			nav {
				position: static;
				background: transparent;
				width: auto;
				transform: none;
				transition: none;
				.header {
					display: none;
				}
				.navigation {
					display: block;
					& > .menu-item {
						display: inline-block;
						margin-right: -6px;
						@include breakpoint(xl) {
							margin-right: -10px;
						}
						&:last-of-type {
							margin-right: 0;
						}
						& > a {
							height: 48px;
						}
					}
					.menu-item {
						position: relative;
						a {
							color: white;
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 5px 15px;
							box-shadow: none !important;
							&:focus {
								color: white;
								background-color: inherit;
							}
							&:not(.has-icon) > svg {
								display: none;
							}
							&.has-icon {
								padding-left: 40px;
								& > svg {
									position: absolute;
									left: 10px;
									top: 23px;
									stroke: white;
								}
							}
							&:hover {
								color: map-get($colors, primary);
								background-color: rgba(244, 244, 244, 0.984);
								& > svg {
									stroke: map-get($colors, primary);
								}
							}
						}
						&.has-children {
							& > a {
								transition: box-shadow 0.2s ease, border-radius 0.2s ease;
								&::after {
									color: white;
									font-size: 11px;
									margin-left: 10px;
								}
								&:hover::after {
									color: map-get($colors, primary);
								}
								&:focus::after {
									color: inherit;
								}
							}
							.sub-menu {
								position: absolute;
								z-index: 4;
								top: calc(100% + 5px);
								right: 0;
								background-color: white;
								visibility: hidden;
								opacity: 0;
								max-height: auto !important;
								min-height: 100px;
								min-width: 180px;
								border-radius: 4px;
								box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.6);
								padding: 15px 0;
								& .menu-item {
									a {
										color: black;
										font-weight: 400;
										display: block;
										padding: 10px 20px !important;
										&:hover {
											color: map-get($colors, primary);
											background-color: #f5f4f3;
										}
									}
								}
							}
							&.opened {
								& > a {
									color: black;
									background-color: white;
									box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.6) !important;
									border-radius: 0 0 4px 4px;
									& > svg {
										stroke: black;
									}
									&::after {
										color: black;
										transform: none;
									}
								}
								& > .sub-menu {
									visibility: visible;
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}
	}
}
