header {
  .navigation-wrapper nav {
    .navigation {
      .menu-item {
        &.has-children {
          &.opened {
            & > .sub-menu {
              visibility: visible;
              opacity: 1;
              .menu-item > a {
                padding-left: 70px;
                & > svg {
                  left: 40px;
                }
              }
            }
          }
        }
      }
    }
    @include breakpoint() {
      padding: 0 24px;
      .logo-wrapper img {
        max-height: 40px;
      }
      .navigation-wrapper {
        position: static;
        background: transparent;
        visibility: visible;
        opacity: 1;
        transition: none;
        nav {
          position: static;
          background: transparent;
          width: auto;
          transform: none;
          transition: none;
          .header {
            display: none;
          }
          .navigation {
            display: block;
            & > .menu-item {
              display: inline-block;
              margin-right: -6px;
              @include breakpoint(xl) {
                margin-right: -10px;
              }
              &:last-of-type {
                margin-right: 0;
              }
              & > a {
                height: 48px;
              }
            }
            .menu-item {
              position: relative;
              a {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 15px;
                box-shadow: none !important;
                &:focus {
                  color: white;
                  background-color: inherit;
                }
                &:not(.has-icon) > svg {
                  display: none;
                }
                &.has-icon {
                  padding-left: 40px;
                  & > svg {
                    position: absolute;
                    left: 10px;
                    top: 23px;
                    stroke: white;
                  }
                }
                &:hover {
                  color: map-get($colors, primary);
                  background-color: rgba(244, 244, 244, 0.984);
                  & > svg {
                    stroke: map-get($colors, primary);
                  }
                }
              }
              &.has-children {
                & > a {
                  transition: box-shadow 0.2s ease, border-radius 0.2s ease;
                  &::after {
                    color: white;
                    font-size: 11px;
                    margin-left: 10px;
                  }
                  &:hover::after {
                    color: map-get($colors, primary);
                  }
                  &:focus::after {
                    color: inherit;
                  }
                }
                .sub-menu {
                  position: absolute;
                  z-index: 4;
                  top: calc(100% + 5px);
                  right: 0;
                  background-color: white;
                  visibility: hidden;
                  opacity: 0;
                  max-height: auto !important;
                  min-height: 100px;
                  min-width: 180px;
                  border-radius: 4px;
                  box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.6);
                  padding: 15px 0;
                  & .menu-item {
                    a {
                      color: black;
                      font-weight: 400;
                      display: block;
                      padding: 10px 20px !important;
                      &:hover {
                        color: map-get($colors, primary);
                        background-color: #f5f4f3;
                      }
                    }
                  }
                }
                &.opened {
                  & > a {
                    color: black;
                    background-color: white;
                    box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.6) !important;
                    border-radius: 0 0 4px 4px;
                    & > svg {
                      stroke: black;
                    }
                    &::after {
                      color: black;
                      transform: none;
                    }
                  }
                  & > .sub-menu {
                    visibility: visible;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
