.icon-menu {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  .line {
    &,
    &::before,
    &::after {
      background-color: black;
      width: 30px;
      height: 3.5px;
      border-radius: 2px;
      transition: all 0.5s ease-in-out;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
    }
    &::before {
      transform: translateY(-10px);
    }
    &::after {
      transform: translateY(10px);
    }
  }
  &.animated-icon.toggled .line {
    transform: translateX(-50%);
    background: transparent;
    &::before {
      transform: rotate(45deg) translate(11px, -11px);
    }
    &::after {
      transform: rotate(-45deg) translate(11px, 11px);
    }
  }
}
