@import "../variables";
@import "../mixins";
@import "./utils/animatedAnchor";

footer {
  color: white;
  background-color: get-color(primary);
  margin-top: 120px;
  a {
    color: white;
    @extend .animated-anchor;
  }
  .email-response {
    background-color: white;
    color: black;
    width: 95%;
    padding: 20px;
    margin: 0 auto;
    border: 4px solid 1px solid #ddddde;
    border-radius: 10px;
    box-shadow: 0 -2px 20px -6px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    @include breakpoint(md) {
      padding: 25px 30px;
    }
    @include breakpoint(lg) {
      width: 80%;
      padding: 25px 30px 35px;
    }
    .description {
      display: block;
      padding-left: 15px;
      margin-bottom: 10px;
    }
    form {
      display: flex;
      flex-direction: column;
      @include breakpoint(md) {
        flex-direction: row;
      }
      input[type="email"] {
        font-size: 16px;
        line-height: 48px;
        display: block;
        height: 48px;
        width: 100%;
        padding: 0 15px 0 35px;
        border: 1px solid #ddddde;
        border-radius: 6px 6px 0 0;
        transition: border-color 0.2s ease;
        @include breakpoint(md) {
          border-radius: 25px;
          &:focus {
            border-color: #a0a0a0;
          }
        }
      }
      button[type="submit"] {
        width: 100%;
        border-radius: 0 0 6px 6px;
        @include breakpoint(md) {
          width: 200px;
          margin-left: 5px;
          border-radius: 25px;
          transition: box-shadow 0.2s ease, background-color 0.2s ease;
        }
        @include breakpoint(lg) {
          margin-left: 25px;
        }
      }
    }
  }
  .logo-wrapper {
    margin: 0 auto 10px;
    width: 95%;
    @include breakpoint(md) {
      width: 90%;
    }
    @include breakpoint(lg) {
      width: 85%;
      flex-wrap: nowrap;
    }
    @include breakpoint(xl) {
      width: 80%;
    }
  }
  .widgets-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
    @include breakpoint(md) {
      width: 90%;
    }
    @include breakpoint(lg) {
      width: 85%;
      flex-wrap: nowrap;
      flex-direction: row;
    }
    @include breakpoint(xl) {
      width: 80%;
    }
    .widget {
      flex-basis: 100%;
      .title {
        text-transform: capitalize;
        margin-bottom: 10px;
        font-size: 20px;
      }
      &.text {
        padding: 0 20px 0 0;
        .description {
          line-height: 1.5em;
          margin-bottom: 20px;
        }
      }
      &.links {
        .content {
          display: flex;
          justify-content: space-between;
          .links-list {
            flex-basis: 100%;
            @include breakpoint(md) {
              flex-basis: 50%;
            }
            &,
            li {
              list-style: none;
              margin: 0;
              padding: 0;
            }
            .item {
              display: block;
              margin-bottom: 7px;
              .router-link-exact-active {
                font-weight: 500;
              }
            }
          }
        }
      }
      &.social {
        .links-wrapper {
          .fa {
            font-size: 1.2rem;
            display: inline-block;
            margin: 0 10px 0 0;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
        select {
          font-weight: 500;
          background: transparent;
          border: 1px solid white;
          padding: 6px 2px;
          width: 85px;
          color: white;
          border-radius: 3px;
          option {
            color: #000000;
          }
        }
      }
    }
  }
  .copyrights {
    font-weight: 300;
    // background-color: get-color(primary-dark);
    background-image: linear-gradient(
      180deg,
      get-color(primary),
      get-color(primary-dark)
    );
    text-align: center;
    padding: 10px 25px;
    margin-top: 80px;
  }
}
