@import "../variables";
@import "../mixins";

header {
  top: 0;
  right: 0;
  left: 0;
  z-index: get-index(header);
  height: get-size(header, height);
  padding: 0 5px 0 24px;
  @include breakpoint(lg) {
    padding: 0 24px;
  }
  .logo-wrapper img {
    min-height: 20px;
    max-height: get-size(header, height) - 15px;
    @include breakpoint(lg) {
      max-height: get-size(header, height) - 5px;
    }
  }
  .hamburger {
    z-index: get-index(header-hamburger);
    width: 45px;
    transform: scale(0.7);
    .line {
      &,
      &::before,
      &::after {
        background-color: white;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      }
    }
    &.toggled .line {
      box-shadow: none;
      &::before,
      &::after {
        background-color: black;
        box-shadow: none;
      }
    }
  }
  // The navigation overlay (which darkens the background)
  .navigation-wrapper {
    position: fixed;
    background: get-color(header-overlay-background);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden; // Hide by default
    opacity: 0;
    transition: opacity 0.2s ease;
    // When the navbar is opened
    &.opened {
      visibility: visible;
      opacity: 1;
      nav {
        // Pull the navigation back into the screen (from right)
        transform: translateX(0%);
      }
    }
    @include breakpoint(lg) {
      &,
      nav {
        position: static;
        background: transparent !important;
        visibility: visible;
        opacity: 1;
        transition: none;
      }
    }
    nav {
      position: absolute;
      background-color: get-color(faded);
      top: 0;
      right: 0;
      bottom: 0;
      width: 90vw;
      // By default the navigation will be pushed out of the screen (right side)
      transform: translateX(100%);
      transition: transform 0.4s ease-out;
      @include breakpoint(lg) {
        width: auto;
        transform: none;
        transition: none;
      }
      .header {
        height: get-size(header, height);
        border-bottom: 1px solid #dedede;
      }
      // Unordered list
      .navigation {
        &,
        ul,
        li {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        // Reference Class!
        .active-menu-item {
          color: get-color(primary);
          background-color: white;
          box-shadow: 0 0 4px -4px rgba(0, 0, 0, 1);
          & > svg {
            stroke: get-color(primary) !important;
            stroke-width: 1.5px;
          }
        }
        @include breakpoint(lg) {
          & > .menu-item {
            display: inline-block;
            margin-right: -6px;
            @include breakpoint(xl) {
              margin-right: -10px;
            }
            &:last-of-type {
              margin-right: 0;
            }
            & > a {
              height: 48px;
            }
          }
        }
        // List items
        .menu-item {
          @include breakpoint(lg) {
            position: relative;
          }
          a {
            position: relative;
            color: get-color(primary-dark);
            font-size: get-font-size(base);
            font-weight: 500;
            display: block;
            padding: 12px 20px 12px 45px;
            @include breakpoint(lg) {
              color: white !important;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 5px 15px;
              box-shadow: none !important;
              &:hover {
                color: get-color(primary) !important;
                background-color: rgba(244, 244, 244, 0.984);
                & > svg {
                  stroke: get-color(primary) !important;
                  stroke-width: 1.5px;
                }
                &::after {
                  color: get-color(primary) !important;
                }
              }
            }
            &.has-icon {
              & > svg {
                position: absolute;
                stroke: get-color(primary-dark);
                top: 50%;
                left: 12px;
                margin-right: 5px;
                transform: translateY(-50%);
              }
              @include breakpoint(lg) {
                padding-left: 40px;
                & > svg {
                  position: absolute;
                  left: 10px;
                  top: 23px;
                  stroke: white;
                }
              }
            }
            &:focus {
              @extend .active-menu-item;
              @include breakpoint(lg) {
                background-color: rgba(244, 244, 244, 0.984);
              }
            }
            // Active link - classes handled by Vue.js
            &.router-link-active,
            &.router-link-exact {
              color: tint(get-color(primary), 10%);
              background: get-color(faded);
              & > svg {
                stroke: tint(get-color(primary), 10%);
              }
              @extend .active-menu-item;
            }
          }
          // Sub dropdown menu
          &.has-children {
            position: relative;
            & > a {
              @include breakpoint(lg) {
                transition: box-shadow 0.2s ease, border-radius 0.2s ease;
              }
              &::after {
                content: "\f078";
                color: get-color(primary-dark);
                font-family: FontAwesome;
                font-size: 14px;
                float: right;
                transition: transform 0.2s ease;
                @include breakpoint(lg) {
                  position: relative;
                  color: white;
                  top: 1px;
                  font-size: 12px;
                  margin-left: 10px;
                }
              }
              &:focus::after {
                color: get-color(primary);
              }
            }
            &.opened {
              // Highlight the opened menu trigger
              & > a {
                color: get-color(primary) !important;
                @extend .active-menu-item;
                &::after {
                  color: get-color(primary);
                  transform: rotate(180deg);
                }
                @include breakpoint(lg) {
                  color: black !important;
                  box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.6) !important;
                  border-radius: 0 0 4px 4px;
                  & > svg {
                    stroke: black !important;
                  }
                  &::after {
                    color: black;
                  }
                }
              }
              & > .sub-menu {
                visibility: visible;
                opacity: 1;
                .menu-item > a {
                  padding-left: 70px;
                  & > svg {
                    left: 40px;
                  }
                }
              }
            }
            // Added accordition logic from W3Schools HowTo example.
            // The menu will be collapsed by default.
            .sub-menu {
              visibility: hidden;
              opacity: 0;
              overflow: hidden;
              max-height: 0;
              transition: max-height 0.4s ease, opacity 0.2s ease-in;
              @include breakpoint(lg) {
                position: absolute;
                background-color: white;
                top: calc(100% + 5px);
                right: 0;
                z-index: get-index(header-dropdown-menu);
                visibility: hidden;
                opacity: 0;
                max-height: auto !important;
                min-height: 100px;
                min-width: 180px;
                border-radius: 4px;
                box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.6);
                padding: 15px 0 15px;
                &.force-left {
                  right: auto !important;
                  left: 0 !important;
                }
                &.force-right {
                  right: 0 !important;
                  left: auto !important;
                }
                .menu-item a {
                  color: black !important;
                  font-weight: 400;
                  display: block;
                  padding: 10px 20px !important;
                  &:hover,
                  &:focus {
                    color: get-color(primary) !important;
                    background-color: #f5f4f3;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
