@import "../variables";
@import "../mixins";

header {
  top: 0;
  right: 0;
  left: 0;
  z-index: get-index(header);
  height: get-size(header, height);
  padding: 0 5px 0 24px;
  .logo-wrapper img {
    min-height: 20px;
    max-height: get-size(header, height) - 15px;
  }
  .hamburger {
    z-index: get-index(header-hamburger);
    width: 45px;
    transform: scale(0.7);
    .line {
      &,
      &::before,
      &::after {
        background-color: white;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      }
    }
    &.toggled .line {
      box-shadow: none;
      &::before,
      &::after {
        background-color: black;
        box-shadow: none;
      }
    }
  }
  //   The navigation overlay (which darkens the background)
  .navigation-wrapper {
    position: fixed;
    background: get-color(header-overlay-background);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden; // Hide by default
    opacity: 0;
    transition: opacity 0.2s ease;
    // When the navbar is opened
    &.opened {
      visibility: visible;
      opacity: 1;
      nav {
        // Pull the navigation back into the screen (from right)
        transform: translateX(0%);
      }
    }
    nav {
      position: absolute;
      background-color: get-color(faded);
      top: 0;
      right: 0;
      bottom: 0;
      width: 90vw;
      // By default the navigation will be pushed out of the screen (right side)
      transform: translateX(100%);
      transition: transform 0.4s ease-out;
      .header {
        height: get-size(header, height);
        border-bottom: 1px solid #dedede;
      }
      // Unordered list
      .navigation {
        &,
        ul,
        li {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        .active-menu-item {
          color: get-color(primary);
          background-color: white;
          box-shadow: 0 0 4px -4px rgba(0, 0, 0, 1);
          & > svg {
            stroke: get-color(primary);
            stroke-width: 1.5px;
          }
        }
        // List items
        .menu-item {
          a {
            position: relative;
            color: get-color(primary-dark);
            font-size: get-font-size(base);
            font-weight: 500;
            display: block;
            padding: 12px 20px 12px 45px;
            & > svg {
              position: absolute;
              stroke: get-color(primary-dark);
              top: 50%;
              left: 12px;
              margin-right: 5px;
              transform: translateY(-50%);
            }
            &:focus {
              @extend .active-menu-item;
            }
            &.router-link-active,
            &.router-link-exact {
              color: tint(get-color(primary), 10%);
              background: get-color(faded);
              & > svg {
                stroke: tint(get-color(primary), 10%);
              }
              @extend .active-menu-item;
            }
          }
          // Sub dropdown menu
          &.has-children {
            & > a {
              &::after {
                content: "\f078";
                color: get-color(primary-dark);
                font-family: FontAwesome;
                font-size: calc(get-font-size(base) - 5px);
                float: right;
                transition: transform 0.2s ease;
              }
              &:focus::after {
                color: get-color(primary);
              }
            }
            &.opened {
              // Highlight the opened menu trigger
              & > a {
                @extend .active-menu-item;
                &::after {
                  color: get-color(primary);
                  transform: rotate(180deg);
                }
              }
              & > .sub-menu {
                visibility: visible;
                opacity: 1;
                .menu-item > a {
                  padding-left: 70px;
                  & > svg {
                    left: 40px;
                  }
                }
              }
            }
            // Added accordition logic from W3Schools HowTo example.
            // The menu will be collapsed by default.
            .sub-menu {
              visibility: hidden;
              opacity: 0;
              overflow: hidden;
              max-height: 0;
              transition: max-height 0.4s ease, opacity 0.2s ease-in;
            }
          }
        }
      }
    }
  }
}
